@charset "utf-8"; 

*{
    margin: 0px;
    padding:0px;
}

html, body{
    background-color: pink;
    width: 100vw;
    height: 100vh;
}
main{
    background-image:url(../imagens/fundo-madeira.jpg) ;
    height:100vh;
    background-size: cover;
    background-position:center center;
    position: relative;
    background-attachment: fixed;
}

#celular{
    background-image: url(../imagens/frame-iphone.png);
    width: 250px;
    height: 500px;
    transform: translate(-50% ,-50%);
    background-size: cover;
    position: absolute;
    top: 50%;
    left:50%;
}

iframe#tela{
    position: relative;
    top:64px ;
    left:18px ;
    width: 214.5px;
    height: 378.6px;
}

nav{
    text-align: right;
}
nav> a >img{
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.747);
    box-sizing: border-box;
}

nav > a >img:hover{
    transition: 0.21s, border 0s;
    border: 2px solid rgba(255, 255, 255, 0.767);
    transform: translate(-3px, -3px);
   box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.747);
}




